@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animate-duration: 800ms;
}

html {
  @apply mt-0 !important;
}

html,
body {
  @apply overflow-x-hidden !important;
  font-family: "Poppins", sans-serif;
}

.accordion-default {
  @apply bg-transparent !border border-solid border-transparent text-white !rounded-[30px];

  .accordion-header {
    @apply bg-transparent bg-dark-secondary mt-0 p-4 rounded-[30px];
  }
  .accordion-action {
    @apply cursor-pointer inline-block bg-dark-light rounded-full text-base md:text-xl px-4 py-2 hover:text-primary-main transition;
  }
}

.accordion-active {
  @apply !bg-black !border-white;
  border-top: 1px solid !important;

  .accordion-header {
    @apply !bg-transparent;
  }
  .accordion-action {
    @apply !bg-white !text-black;
  }

  &:not(:first-of-type) {
    @apply !border-t !border-white;
  }
}

.slick-slide {
  @apply h-auto !important;
}

.header-menu-actions {
  & li:first-child a {
    @apply text-white bg-dark-main rounded-full border-white border-solid border text-sm py-2 px-8 font-medium hover:ring-1 hover:ring-offset-1 hover:ring-offset-primary-main hover:text-primary-main transition;
  }
  & li:nth-child(2) a {
    @apply text-dark-main bg-primary-main rounded-full text-sm py-2 px-8 font-medium hover:bg-dark-main hover:ring-1 hover:ring-offset-1 hover:ring-offset-primary-main hover:text-primary-main transition;
  }
}

.tm-header--scrolled {
  @apply bg-dark-main shadow-2xl;
}

.menu--hover-effect-overlay {
  @apply relative hover:after:w-full after:duration-200 after:ease-in-out after:z-10 after:transition-all;
  @apply after:absolute after:top-full after:left-1/2 after:-translate-x-1/2 after:content-[''] after:block after:w-0 after:h-[1px] after:bg-primary-main;
}
